table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 500px;
}

td, th {
    border: 3px solid #dddddd;
    text-align: left; 
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div.first_table {
  position: absolute; /* Абсолютное позиционирование */
  /*overflow: auto;*/
  left: 500px; 
  top: 80px;
  /*width: 50px; /* Ширина блока */
 
  /*border: 1px solid #000; /* Параметры рамки */
  /*padding: 5px; /* Поля вокруг текста */
  /*font-family: cursive; /*sans-serif; /* Рубленый шрифт */
  /*font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
  /*background: #ECF5E4; /* Цвет фона */
  /*margin-left: 50px; /* */
  /*padding-left: 50px; /* */
}


div.buttons {
  position: absolute; /* Абсолютное позиционирование */
  /* overflow: auto;
  /* width: 250px; /* Ширина блока */
 
  /* border: 1px solid #000; /* Параметры рамки */
  /* padding: 5px; /* Поля вокруг текста */
  /* font-family: sans-serif; /* Рубленый шрифт */
  /* font-size: 9pt; /* Размер шрифта */
  /* color: #333; /* Цвет текста */
  /* background: #ECF5E4; /* Цвет фона */
  /* margin-left: 500px; /* */
  /* padding-left: 500px; /* */
}

div.gafica1 {
  position: absolute; /* Абсолютное позиционирование */
  overflow: auto;
  width: 400px; /* Ширина блока */
  left: 10px; 
  top: 300px;
  border: 1px solid #000; /* Параметры рамки */
  
}